<p id="notice"><%= notice %></p>

<p>
  <strong>Attribute value:</strong>
  <%= @attribute_value_similar_pattern.attribute_value_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @attribute_value_similar_pattern.value %>
</p>

<p>
  <strong>Paragraph:</strong>
  <%= @attribute_value_similar_pattern.paragraph %>
</p>

<p>
  <strong>Sentence:</strong>
  <%= @attribute_value_similar_pattern.sentence %>
</p>

<p>
  <strong>Word:</strong>
  <%= @attribute_value_similar_pattern.word %>
</p>

<%= link_to 'Edit', edit_attribute_value_similar_pattern_path(@attribute_value_similar_pattern) %> |
<%= link_to 'Back', attribute_value_similar_patterns_path %>
